<div style="
    background-color: #fad935;
    margin: auto 10px;
    color: #fff;
    min-height: 400px;
    display: flex;
">
    <div style="margin:auto;">
        <h1>salut!</h1>
        <h2>document</h2>
        
        
    </div>
</div>