<div style="
    background-color: #fad935;
    margin: auto 10px;
    color: #fff;
    min-height: 400px;
    display: flex;
">
    <div style="margin:auto;">
        <h1>Bienvenue!</h1>
        <p style="text-align:left">votre adresse email: <b>#email</b></p>
        <p style="text-align:left">votre mot de passe: <b>#password</b></p>
    </div>
</div>